In [4]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import os

print(os.getcwd())

import sys
from pathlib import Path

/Users/tymoteuszbarcinski/DTU/WEC2025/wec2025/TB

In [5]:
Path().resolve().parent

PosixPath('/Users/tymoteuszbarcinski/DTU/WEC2025/wec2025')

In [10]:
# Add utils to path
ROOT_PATH = Path().resolve().parent
print(f"{ROOT_PATH=}")
DATA_PATH = ROOT_PATH / "for_participants" / "data_parquet"
assert DATA_PATH.exists()
sys.path.append(str(ROOT_PATH))
print(f"{DATA_PATH=}")

# ASSIGNMENT_DIR = Path().resolve().parent
# HANDIN_DIR = ASSIGNMENT_DIR / 'handin'
OUTPUT_DIR = ROOT_PATH / 'output'

ROOT_PATH=PosixPath('/Users/tymoteuszbarcinski/DTU/WEC2025/wec2025')
DATA_PATH=PosixPath('/Users/tymoteuszbarcinski/DTU/WEC2025/wec2025/for_participants/data_parquet')

In [41]:
def read_data(file_name):
    df_tmp = pd.read_parquet(DATA_PATH / f'{file_name}.parquet')
    print(df_tmp.shape)
    return df_tmp

# Buildings

In [36]:
df_buildings = read_data('buildings')
print(df_buildings.shape)

(1440870, 6)

In [14]:
df_buildings.head()

,h3res13,building_id,building_function,building_floors,building_flats,building_area
0,8d1f53cd3299dbf,3303EA7E-6861-33C1-E053-CA2BA8C02B7D,Agricultural Building,1.0,0,245.66
1,8d1f53cd3299d3f,3303EA7E-6861-33C1-E053-CA2BA8C02B7D,Agricultural Building,1.0,0,245.66
2,8d1f53cd3299cbf,3303EA7E-6861-33C1-E053-CA2BA8C02B7D,Agricultural Building,1.0,0,245.66
3,8d1f53cd329d6ff,3303EA7E-6861-33C1-E053-CA2BA8C02B7D,Agricultural Building,1.0,0,245.66
4,8d1f53cd329837f,3303EA7E-6861-33C1-E053-CA2BA8C02B7D,Agricultural Building,1.0,0,245.66

In [20]:
df_buildings['building_function'].value_counts().sort_values(ascending=False)

building_function
Single-Family Residence           418099
Multi-Family Residence            371381
Office Building                   115619
Retail and Service Building        97803
Agricultural Building              97422
Silo or Warehouse                  87941
Industrial Building                62074
Schools and Research Institute     54779
Car Park                           36810
Hotel                              18213
Apartment                          18062
Hospitals and Medical Facility     15025
Collected Dwelling Unit            13269
Railway and Terminal Building       7619
Cultural Facility                   6065
Place of Worship                    5624
Cultural Public Facility            5395
Museums and Libraries               5082
Non-Residential Building            4016
Heritage Building                    316
Tourist Accommodation Building       256
Name: count, dtype: int64

# Demography

In [38]:
df_dem = read_data('demography')
print(df_dem.shape)

(109678, 8)

In [22]:
df_dem

,h3res13,total,female0018,female1964,female6599,male0018,male1964,male6599
0,8d1f5224000837f,6.0,1.0,3.0,1.0,0.0,1.0,0.0
1,8d1f522400084bf,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,8d1f522400088ff,6.0,1.0,2.0,0.0,1.0,1.0,1.0
3,8d1f5224000943f,4.0,0.0,1.0,1.0,0.0,2.0,0.0
4,8d1f5224000a6ff,4.0,0.0,1.0,0.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...
109673,8d1f53d9eda12ff,4.0,1.0,2.0,0.0,1.0,0.0,0.0
109674,8d1f53d9eda987f,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109675,8d1f53d9edab47f,6.0,0.0,4.0,0.0,0.0,2.0,0.0
109676,8d1f53d9edadb7f,4.0,2.0,2.0,0.0,0.0,0.0,0.0
109677,8d1f53d9edaec3f,4.0,1.0,1.0,0.0,0.0,2.0,0.0

# Pois

In [39]:
df_pois = read_data('pois')
print(df_pois.shape)

(41119, 23)

In [26]:
df_pois.head()

,h3res13,accommodation,active_life,arts_and_entertainment,attractions_and_activities,automotive,beauty_and_spa,business_to_business,eat_and_drink,education,...,mass_media,pets,private_establishments_and_corporates,professional_services,public_service_and_government,real_estate,religious_organization,retail,structure_and_geography,travel
0,8d1f52240b2923f,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8d1f52240b2ddbf,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,8d1f52240b404ff,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
3,8d1f52240b434bf,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,8d1f52240b636bf,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [27]:
df_pois.columns

Index(['h3res13', 'accommodation', 'active_life', 'arts_and_entertainment',
       'attractions_and_activities', 'automotive', 'beauty_and_spa',
       'business_to_business', 'eat_and_drink', 'education',
       'financial_service', 'health_and_medical', 'home_service', 'mass_media',
       'pets', 'private_establishments_and_corporates',
       'professional_services', 'public_service_and_government', 'real_estate',
       'religious_organization', 'retail', 'structure_and_geography',
       'travel'],
      dtype='object')

# Roads

In [42]:
df_roads = read_data('roads')

(2412766, 17)

In [32]:
df_roads.columns

Index(['h3res13', 'bridleway', 'cycleway', 'footway', 'living_street',
       'motorway', 'path', 'pedestrian', 'primary', 'residential', 'secondary',
       'service', 'steps', 'tertiary', 'track', 'unclassified', 'unknown'],
      dtype='object')

# Signals

In [43]:
df_signals = read_data('signals')

(24072552, 53)

In [49]:
df_signals_subset = df_signals.iloc[0:1000, :]

In [52]:
df_signals_subset.loc[lambda x: x['ctn_0'] != 0]

,h3res13,signal_date,weekday,ctn_per_day,ctd_per_day,ctn_0,ctn_1,ctn_2,ctn_3,ctn_4,...,ctd_14,ctd_15,ctd_16,ctd_17,ctd_18,ctd_19,ctd_20,ctd_21,ctd_22,ctd_23
374,8d1f52240a6137f,2024-03-09,6,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
673,8d1f52240a61aff,2024-03-03,7,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Traffic train

In [46]:
df_traffic = read_data('traffic_train')

(102480, 9)

In [48]:
df_traffic['segment'].value_counts().sort_values(ascending=False)

segment
Bartoka - Dolina Służewiecka         2928
al. 3 Maja - Czerwonego Krzyża       2928
Parowcowa - Połczyńska               1464
Gotarda - Modzelewskiego             1464
Dolina Służewiecka - Wałbrzyska      1464
                                     ...
Perzyńskiego - Romaszewskiego        1464
Potocka - Klaudyny                   1464
al. Armii Krajowej - Barszczewska    1464
Rudzka - Trószczyńskiego             1464
Dziwożony - Wóycickiego              1464
Name: count, Length: 68, dtype: int64

# Del memory

In [1]:
del df_buildings
del df_dem
del df_pois
del df_roads
del df_signals
del df_traffic

NameError: name 'df_buildings' is not defined